
div {
	border: 2px;
	position: absolute;
}
div.zero {
	width: 100px;
	height: 80px;
	font-size: 40px;
	font-family: verdana;
}

div.um {
	width: 90px;
	height: 50px;
	top: 80px;
}

div.dois {
	width: 130px;
	height: 50px;
	left: 215px;
	top: 130px;
}

div.tres {
	width: 120px;
	height: 40px;
	top: 365px;
}
div.quatro {
	font-style: italic;
	width: 90px;
	height: 70px;
	top: 80px;
	margin-left: 215px;
}