h1{
	align="center"
}

img{
	border: 2px green dotted;
}



/*classe*/
.nomedoh1{
	color: red;
}



/*ids*/
#flutuado{
	
}

#amor {
	width: 25%;
	float: right;

}

#livro1 {
	color: black;
	font-size: 3;
	float: right;
}

